@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::before,
::after {
  border-width: 0;
  font-family: "Plus Jakarta Sans", sans-serif !important;
}

/* navbar */
.nav {
  background: #2100ec;
  display: flex;
  justify-content: space-between;
}

.dropdown {
  border-radius: 53px;
  border: 1px solid #fff;
  background: rgba(255, 255, 255, 0.2);
}
.form {
  border-radius: 100px;
  border: 1px solid #e5e5f0;
  background: linear-gradient(
    292deg,
    rgba(255, 255, 255, 0.58) 18.31%,
    rgba(255, 255, 255, 0.45) 110.98%
  );
}
.forgetpassword {
  color: #ff4085;
  text-align: center;
  font-family: "Plus Jakarta Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 152.5%; /* 18.3px */
  letter-spacing: -0.36px;
}

/* buttons */
.button {
  border-radius: 100px;
  background: #000;
}

.socialmediaButton {
  border-radius: 100px;
  border: 1px solid #000;
  background: #fff;
}

/* Sigh Up */
.face-ID {
  color: #2100ec;
}

.termcon {
  color: #ff4085;
}

/* Verify Page */
.verifybutton {
  display: flex;
  padding: 12px 24px;
  align-items: center;
  gap: 8px;
  border-radius: 100px;
  border: 1px solid #000;
  background: #2100ec;
}

.getstart-img {
  width: 288.348px;
  height: 322.001px;
  flex-shrink: 0;
}
.getstart-line {
  width: 57px;
  height: 5px;
}

.getstart-text {
  color: #000;
  text-align: center;
  font-family: "Plus Jakarta Sans";
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: 152.5%; /* 48.8px */
  letter-spacing: -0.96px;
}
