@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::before,
::after {
  border-width: 0;
  font-family: "Plus Jakarta Sans", sans-serif !important;
  font-weight: 600;
}

/* navbar */
.nav {
  background: #2100ec;
  display: flex;
  justify-content: space-between;
}

.dropdown {
  border-radius: 53px;
  border: 1px solid #fff;
  background: rgba(255, 255, 255, 0.2);
}
.form {
  border-radius: 100px;
  border: 1px solid #e5e5f0;
  background: linear-gradient(
    292deg,
    rgba(255, 255, 255, 0.58) 18.31%,
    rgba(255, 255, 255, 0.45) 110.98%
  );
}
.forgetpassword {
  color: #ff4085;
  text-align: center;
  font-family: "Plus Jakarta Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 152.5%; /* 18.3px */
  letter-spacing: -0.36px;
}

/* buttons */
.button {
  border-radius: 100px;
  background: #000;
}

.socialmediaButton {
  border-radius: 100px;
  border: 1px solid #000;
  background: #fff;
}

/* Sigh Up */
.face-ID {
  color: #2100ec;
}

/* Verify Page */
.verifybutton {
  display: flex;
  padding: 12px 24px;
  align-items: center;
  gap: 8px;
  border-radius: 100px;
  border: 1px solid #000;
  background: #2100ec;
}

.getstart-img {
  width: 288.348px;
  height: 322.001px;
  flex-shrink: 0;
}
.getstart-line {
  width: 57px;
  height: 5px;
}

.getstart-text {
  color: #000;
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: 152.5%; /* 48.8px */
  letter-spacing: -0.96px;
}

.circle-input {
  display: flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex: 1 0 0;
  border-radius: 100px;
  border: 1px solid #e5e5f0;
  background: linear-gradient(
    292deg,
    rgba(255, 255, 255, 0.58) 18.31%,
    rgba(255, 255, 255, 0.45) 110.98%
  );
}

/* Create Password multiple step form */

.CPline {
  width: 339px;
  height: 1px;
  background: rgba(0, 0, 0, 0.1);
}

.step-item {
  @apply relative flex flex-col justify-center items-center w-36;
}
.step-item:not(:first-child):before {
  @apply content-[''] bg-slate-200 absolute w-full h-[3px] right-2/4 top-1/3 -translate-y-2/4;
}
.step {
  @apply w-10 h-10 flex items-center justify-center z-10 relative bg-slate-700 rounded-full font-semibold text-white;
}
.active .step {
  @apply bg-sky-600;
}
.complete .step {
  @apply bg-green-600;
}
.complete p {
  @apply text-white;
}
.complete:not(:first-child):before,
.active:not(:first-child):before {
  @apply bg-green-600;
}

/* recovery pharse */
.grid-item {
  display: flex;
  padding: 16px 48px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex: 1 0 0;
  border-radius: 108px;
  border: 1.5px solid #a66cff;
  background: #a66cff;
  box-shadow: 0px 4px 0px 0px #fff inset;
}

.bgblur{
  border-radius: 24px;
border: 1px solid rgba(0, 0, 0, 0.10);
background: rgba(255, 255, 255, 0.90);
backdrop-filter: blur(4.5px);
}
